.link-icon {
  appearance: none;
  border: none;
  color: black;
  cursor: pointer;
  display: block;
  text-decoration: none;
  font-size: 30px;
  text-indent: -200vw;

  height: 1em;
  width: 1em;

  position: relative;
  overflow: hidden;

  transition: color .2s ease;
}
