<footer class="page-footer">
  <div class="page-footer__wrapper wrapper">
    <div class="page-footer__left">
      <a class="page-footer__logo" href="/">
        Юридическая фирма «Правовая точка»
      </a>
      <div class="page-footer__address">
        <p>г. Тула, Проспект Ленина, д. 81, офис 21, этаж 3</p>
        <p class="page-header__time">График работы: пн-сб с 10:00 до 21:00 (запись обязательна)</p>
      </div>
      <div class="page-footer__copyright">©2023–2024. ИП Рылеева Светлана Анатольевна, ОГРНИП&nbsp;324710000045049</div>
    </div>

    <div class="page-footer__right">
      <a class="page-footer__telnum" href="tel:+79038436264">+7 903 843-62-64</a>
      <br/>
      <a class="page-footer__policy link link--light js-policy" href="/?asdasd">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
