<header style="position: fixed;" id="header" class="page-header page-header--transparent">
  <div class="wrapper">
    <div class="page-header__content">
      <a class="page-header__logo" href="/">Правовая точка</a>

      <div class="page-header__info">
        <p>г. Тула, Проспект Ленина, д. 81, офис 21, этаж 3</p>
        <p class="page-header__time">График работы: пн-сб с 10:00 до 21:00 (запись обязательна)</p>
      </div>

      <ul class="page-header__links">
        <a href="tel:+79038436264" class="page-header__telnum link">+7 903 843-62-64</a>
        <a href="tel:+79622766768" class="page-header__telnum link">+7 962 276-67-68</a>
      </ul>

      <button id="mobile-request-button" class="page-header__request button-primary">Заказать консультацию</button>

      <c-burger-button id="burger-button" class="page-header__burger-button"></c-burger-button>
    </div>
  </div>
</header>
