<header style="position: fixed;" id="header" class="page-header page-header--transparent">
  <div class="wrapper">
    <div class="page-header__content">
      <a class="page-header__logo" href="/">Правовая точка</a>

      <div class="page-header__info">
        <p>г.Тула, Проспект Ленина, 81, 3 этаж, офис 302</p>
        <p class="page-header__time">График работы: будние с 09:00 до 21:00</p>
      </div>

      <ul class="page-header__links">
        <a href="tel:+79109446188" class="page-header__telnum link">+7 (920) 994-61-88</a>
      </ul>

      <button id="mobile-request-button" class="page-header__request button-primary">Заказать консультацию</button>

      <c-burger-button id="burger-button" class="page-header__burger-button"></c-burger-button>
    </div>
  </div>
</header>
