<c-popup
  id="mobile-menu"
  offset-header
>
  <div class="mobile-menu">
    <div class="mobile-menu__content">
      <div class="mobile-menu__info">
        <p>г. Тула, Проспект Ленина, д. 81, офис 21, этаж 3</p>
        <p class="mobile-menu__time">График работы: пн-сб с 10:00 до 21:00 (запись обязательна)</p>
        <a class="mobile-menu__button button-primary js-form-popup-button" href="#request-form">Записаться на консультацию</a>
      </div>
<!--      <div class="mobile-menu__links">-->
<!--        <a href="tel:+79622766768" class="page-header__telnum link">+7 962 276-67-68</a>-->
<!--        <a href="tel:+79038436264" class="page-header__telnum link">+7 903 843-62-64</a>-->
<!--      </div>-->
    </div>

    <footer class="mobile-menu__footer">
      <div class="mobile-menu__page-footer page-footer__wrapper">
        <div class="page-footer__left">
          <a class="page-footer__logo" href="/">
            Юридическая фирма «Правовая точка»
          </a>
          <div class="page-footer__copyright">©2023–2024. ИП Рылеева Светлана Анатольевна, ОГРНИП 324710000045049</div>
        </div>

        <div class="page-footer__right">
          <a class="page-footer__telnum" href="tel:+79038436264">+7 903 843-62-64</a>
          <br/>
          <a class="page-footer__policy link link--light js-policy" href="/?asdasd">Политика конфиденциальности</a>
        </div>
      </div>
    </footer>
  </div>
</c-popup>

<c-popup id="form-policy">
  <div class="form-policy">
    <h3 class="headline headline--h3">Согласие на обработку персональных данных и политика конфиденциальности</h3>

    <h4 class="headline headline--h4">Согласие на обработку персональных данных</h4>
    <p>Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года свободно, своей волей и в своем интересе выражаю свое безусловное согласие на обработку моих персональных данных , зарегистрированным в соответствии с законодательством РФ (далее по тексту - Оператор).</p>
    <p>Персональные данные - любая информация, относящаяся к определенному или определяемому на основании такой информации физическому лицу.Настоящее Согласие выдано мною на обработку следующих персональных данных:- ФИО, телефон, E-mail, текущее местоположение, иные данные, предоставленные Оператору.</p>
    <p>Согласие дано Оператору для совершения следующих действий с моими персональными данными с использованием средств автоматизации и/или без использования таких средств: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, передача, обезличивание, а также осуществление любых иных действий, предусмотренных действующим законодательством РФ как неавтоматизированными, так и автоматизированными способами.</p>
    <p>Данное согласие дается Оператору для обработки моих персональных данных в следующих целях:</p>
    <ul>
      <li>предоставление мне услуг/работ;</li>
      <li>направление в мой адрес уведомлений, касающихся предоставляемых услуг/работ;</li>
      <li>подготовка и направление ответов на мои запросы;</li>
      <li>передача данных другим пользователям услуг Оператора;</li>
      <li>направление в мой адрес информации, в том числе рекламной, о мероприятиях/товарах/услугах/работах Оператора.</li>
    </ul>
    <p>Настоящее согласие действует до момента его отзыва путем направления соответствующего уведомления на электронный адрес <a class="link link--light" href="mailto:pravovayatochka71@yandex.ru">pravovayatochka71@yandex.ru</a>  В случае отзыва мною согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без моего согласия при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 26.06.2006 г.</p>
    <h4 class="headline headline--h4">Политика конфиденциальности</h4>
    <ol>
      <li>
        <p><b>Сбор информации</b>. Мы собираем информацию, когда вы регистрируетесь на сайте, заходите на свой аккаунт, совершаете покупку, участвуете в акции и/или выходите из аккаунта. Информация включает ваше имя, адрес электронной почты, номер телефона,  иную информацию. Кроме того, мы автоматически регистрируем ваш компьютер и браузер, включая IP, ПО и аппаратные данные, а также адрес запрашиваемой страницы.</p>
      </li>
      <li>
        <p><b>Использование информации</b>. Информация, которую мы получаем от вас, может быть использована, чтобы: Сделать услуги соответствующими вашим индивидуальным запросам. Предложить персонализированную рекламу. Улучшить наш сайт Улучшить систему поддержки пользователей. Связаться с вами по электронной почте. Устроить акцию, конкурс или организовать исследование. Передать Ваши данные другим пользователям сервиса.</p>
      </li>
      <li>
        <p><b>Защита личных данных при онлайн-продажах</b>. Мы являемся единственным владельцем информации, собранной на данном сайте. Ваши личные данные не будут проданы или каким-либо образом переданы третьим лицам по каким-либо причинам, за исключением необходимых данных для выполнения запроса пользователей сервиса/сайта, или транзакции, например, для контакта по Вашему запросу.</p>
      </li>
      <li>
        <p><b>Раскрытие информации третьим лицам</b>. Мы не продаем, не обмениваем и не передаем личные данные сторонним компаниям. Это не относится к надежным компаниям, которые помогают нам в работе сайта и ведении бизнеса при условии, что они соглашаются сохранять конфиденциальность информации. Мы готовы делиться информацией, чтобы предотвратить преступления или помочь в их расследовании, если речь идет о подозрении на мошенничество, действиях, физически угрожающих безопасности людей, нарушениях правил использования или в случаях, когда это предусмотрено законом. Неконфиденциальная информация может быть предоставлена другим компаниям в целях маркетинга, рекламы и т.д.</p>
      </li>
      <li>
        <p><b>Защита информации</b>. Мы используем различные средства безопасности, чтобы гарантировать сохранность ваших личных данных.  Только те сотрудники, которые работают с конкретным заданием (например, техническая поддержка, проведение оплаты, оказание консультацией) получают доступ к личным данным. Сервера и компьютеры, на которых записана конфиденциальная информация, находятся в безопасном окружении. Использование файлов "cookie" Наши файлы "cookie" используются для улучшения доступа к сайту и определения повторных посещений. Кроме того, они позволяют отследить наиболее интересующие запросы. Файлы "cookie" не передают никакую конфиденциальную информацию.</p>
      </li>
      <li>
        <p><b>Согласие</b>. Пользуясь услугами нашего сайта, вы автоматически соглашаетесь с нашей политикой конфиденциальности.</p>
      </li>
    </ol>
  </div>
</c-popup>
