<section class="section-services">
  <div class="wrapper">
    <div class="section-services__container">
      <h2 class="section-services__title headline headline--h2">Наши услуги</h2>
      <p class="section-services__text">Квалифицированная и своевременная юридическая помощь для частных лиц</p>

      <ul class="section-services__list">
        <li class="section-services__item">
          <h6>Юридическая помощь военного юриста</h6>
          <p>Предоставляем полный спектр услуг, представительство в суде, подготовку документов и решение сложных военных споров.</p>
        </li>

        <li class="section-services__item">
          <h6>Защита прав потребителей</h6>
          <p>Возврат денег за некачественный товар (услугу), замена товара ненадлежащего качества, неустойки, штрафа и моральной компенсации</p>
        </li>

        <li class="section-services__item">
          <h6>Возмещение ущерба</h6>
          <p>Взыскание денежных средств с виновников ДТП, в результате залива (затопления), причинения вреда здоровью и имуществу</p>
        </li>

        <li class="section-services__item">
          <h6>Земля и недвижимость</h6>
          <p>Установление границ земельных участков, узаконивание построек, сопровождение сделок купли-продажи, проверка объектов недвижимости, продавцов (покупателей) на “чистоту”</p>
        </li>
      </ul>
    </div>
  </div>
</section>