<section class="section-services">
  <div class="wrapper">
    <div class="section-services__container">
      <h2 class="section-services__title headline headline--h2">Юридические  услуги для физических лиц</h2>

      <ul class="section-services__list">
        <li class="section-services__item">
          <h6>Банкротство физических лиц</h6>
          <ul>
            <li>анализ финансовой ситуации и определение возможности банкротства</li>
            <li>подготовка и подача документов в арбитражный суд</li>
            <li>представление интересов на всех этапах процедуры банкротства</li>
            <li>освобождение от всех долгов перед банками, микрофинансовыми организациями, физическими лицами</li>
            <li>избавление от приставов и неприятных звонков кредиторов</li>
          </ul>
        </li>

        <li class="section-services__item">
          <h6>Наследственные споры</h6>
          <ul>
            <li>сопровождение вступления в наследство</li>
            <li>восстановление сроков для принятия наследства</li>
            <li>установление факта родства наследника с наследодателем</li>
          </ul>
        </li>

        <li class="section-services__item">
          <h6>Семейные<br/>споры</h6>
          <ul>
            <li>расторжение брака</li>
            <li>раздел имущества</li>
            <li>алименты</li>
            <li>заключение брачного договора</li>
          </ul>
        </li>

        <li class="section-services__item">
          <h6>Дополнительные услуги</h6>
          <ul>
            <li>взыскание долгов по распискам и иным долговым обязательствам, отмена судебных приказов</li>
            <li>подготовка проектов договоров купли-продажи, регистрация сделок с имуществом</li>
            <li>составление договоров займов</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>