.form-checkbox {
  @mixin checkbox form-checkbox;

  --color-accent: var(--color-light);
  --color-base: var(--color-white);
  --color-base-hover: var(--color-primary);
  --color-base-focus: var(--color-white);
  --color-secondary: var(--color-light);

  --check-size: 18px;

  color: var(--color-white);

  padding-top: 1px;
  padding-left: 36px;

  & &__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    &:after {
      --check-size: 12px;

      top: 0px;
      left: 7px;
    }
  }

  & &__link,
  & &__link ~ &__text {
    font-size: 12px;
    line-height: 17px;

    @media (--mobile) {
      font-size: 10px;
      line-height: 14px;
    }
  }

  & &__input {
    top: 30px;
    left: 13px;
  }
}
